#pragma once
#ifndef WIFI_CONFIG_H
#define WIFI_CONFIG_H

#define HOCHZEITSTAG { 1, 1, 1970, 0};

#define REFRESH_OBTAINING_INFO 3000
#define REFRESH_REGULAR 600000

#define DISPLAY_PIN_CLOCK D5
#define DISPLAY_PIN_DATA D7
#define DISPLAY_PIN_CS D8
#define DISPLAY_PIN_DC D2
#define DISPLAY_PIN_RESET D3

#define GPS_PIN_TX D1
#define GPS_PIN_RX D6

#define WIFI false
#define YOUR_WIFI_SSID "YOUR_WIFI_SSID"
#define YOUR_WIFI_PASSWD "YOUR_WIFI_PASSWD"

// Un-comment these as needed

// #define DRAW_ADDITIONAL_ELAPSED
// #define DRAW_CURRENT_TIME

#endif //WIFI_CONFIG_H
